# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [16]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://admin:CrIE1553@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Percentual de docentes por grupo do indicador de adequação da formação do docente": 
                {
                "Última atualização": data["Ano"],
                "Educação Infantil": 
                    {
                        "Grupo 1": data["Grupo 1I"],
                        "Grupo 2": data["Grupo 2I"],
                        "Grupo 3": data["Grupo 3I"],
                        "Grupo 4": data["Grupo 4I"],
                        "Grupo 5": data["Grupo 5I"]
                    },
                "Ensino Fundamental":
                    {
                        "Total": {
                            "Grupo 1": data["Grupo 1FT"],
                            "Grupo 2": data["Grupo 2FT"],
                            "Grupo 3": data["Grupo 3FT"],
                            "Grupo 4": data["Grupo 4FT"],
                            "Grupo 5": data["Grupo 5FT"]
                        },
                        "Anos iniciais": {
                            "Grupo 1": data["Grupo 1FI"],
                            "Grupo 2": data["Grupo 2FI"],
                            "Grupo 3": data["Grupo 3FI"],
                            "Grupo 4": data["Grupo 4FI"],
                            "Grupo 5": data["Grupo 5FI"]
                        },
                        "Anos finais": {
                            "Grupo 1": data["Grupo 1FF"],
                            "Grupo 2": data["Grupo 2FF"],
                            "Grupo 3": data["Grupo 3FF"],
                            "Grupo 4": data["Grupo 4FF"],
                            "Grupo 5": data["Grupo 5FF"]
                        }
                    },
                "Ensino Médio": 
                    {
                        "Grupo 1": data["Grupo 1M"],
                        "Grupo 2": data["Grupo 2M"],
                        "Grupo 3": data["Grupo 3M"],
                        "Grupo 4": data["Grupo 4M"],
                        "Grupo 5": data["Grupo 5M"]
                    },
                "EJA":
                    {
                        "Ensino Fundamental": {
                            "Grupo 1": data["Grupo 1EF"],
                            "Grupo 2": data["Grupo 2EF"],
                            "Grupo 3": data["Grupo 3EF"],
                            "Grupo 4": data["Grupo 4EF"],
                            "Grupo 5": data["Grupo 5EF"]
                        },
                        "Ensino Médio": {
                            "Grupo 1": data["Grupo 1EM"],
                            "Grupo 2": data["Grupo 2EM"],
                            "Grupo 3": data["Grupo 3EM"],
                            "Grupo 4": data["Grupo 4EM"],
                            "Grupo 5": data["Grupo 5EM"]
                        }
                    }
            }};

    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [3]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [4]:
teacherAdequacy = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\AdequaçãoFormacaoDocente.xlsx')

In [6]:
teacherAdequacy.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Grupo 1I,...,Grupo 1EF,Grupo 2EF,Grupo 3EF,Grupo 4EF,Grupo 5EF,Grupo 1EM,Grupo 2EM,Grupo 3EM,Grupo 4EM,Grupo 5EM
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,--,...,--,--,--,--,--,--,--,--,--,--
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual,--,...,44.1,0,55.9,0,0,50,2.8,47.2,0,0
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,--,...,--,--,--,--,--,--,--,--,--,--
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,100,...,--,--,--,--,--,--,--,--,--,--
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,100,...,--,--,--,--,--,--,--,--,--,--

In [7]:
teacherAdequacy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177714 entries, 0 to 177713
Data columns (total 44 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Ano                         177714 non-null  int64
 1   Região                      177714 non-null  object
 2   UF                          177714 non-null  object
 3   Código do Município         177714 non-null  int64
 4   Nome do Município           177714 non-null  object
 5   Código da Escola            177714 non-null  int64
 6   Nome da Escola              177714 non-null  object
 7   Localização                 177714 non-null  object
 8   Dependência Administrativa  177714 non-null  object
 9   Grupo 1I                    177714 non-null  object
 10  Grupo 2I                    177714 non-null  object
 11  Grupo 3I                    177714 non-null  object
 12  Grupo 4I                    177714 non-null  object
 13  Grupo 5I                    177714 non-null  object
 14  Grupo 1FT                   177714 non-null  object
 15  Grupo 2FT                   177714 non-null  object
 16  Grupo 3FT                   177714 non-null  object
 17  Grupo 4FT                   177714 non-null  object
 18  Grupo 5FT                   177714 non-null  object
 19  Grupo 1FI                   177714 non-null  object
 20  Grupo 2FI                   177714 non-null  object
 21  Grupo 3FI                   177714 non-null  object
 22  Grupo 4FI                   177714 non-null  object
 23  Grupo 5FI                   177714 non-null  object
 24  Grupo 1FF                   177714 non-null  object
 25  Grupo 2FF                   177714 non-null  object
 26  Grupo 3FF                   177714 non-null  object
 27  Grupo 4FF                   177714 non-null  object
 28  Grupo 5FF                   177714 non-null  object
 29  Grupo 1M                    177714 non-null  object
 30  Grupo 2M                    177714 non-null  object
 31  Grupo 3M                    177714 non-null  object
 32  Grupo 4M                    177714 non-null  object
 33  Grupo 5M                    177714 non-null  object
 34  Grupo 1EF                   177714 non-null  object
 35  Grupo 2EF                   177714 non-null  object
 36  Grupo 3EF                   177714 non-null  object
 37  Grupo 4EF                   177714 non-null  object
 38  Grupo 5EF                   177714 non-null  object
 39  Grupo 1EM                   177714 non-null  object
 40  Grupo 2EM                   177714 non-null  object
 41  Grupo 3EM                   177714 non-null  object
 42  Grupo 4EM                   177714 non-null  object
 43  Grupo 5EM                   177714 non-null  object
dtypes: int64(3), object(41)
memory usage: 59.7+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [8]:
teacherAdequacy_Pelotas = filterPelotas(teacherAdequacy)

In [9]:
teacherAdequacy_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Grupo 1I,...,Grupo 1EF,Grupo 2EF,Grupo 3EF,Grupo 4EF,Grupo 5EF,Grupo 1EM,Grupo 2EM,Grupo 3EM,Grupo 4EM,Grupo 5EM
0,2019,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,--,...,--,--,--,--,--,--,--,--,--,--
1,2019,Sul,RS,4314407,Pelotas,43001165,EEI CRIANCA AMADA,Urbana,Privada,20,...,--,--,--,--,--,--,--,--,--,--
2,2019,Sul,RS,4314407,Pelotas,43001173,EEI MUNDO DO MICKEY,Urbana,Privada,100,...,--,--,--,--,--,--,--,--,--,--
3,2019,Sul,RS,4314407,Pelotas,43002145,EEI CHAPEUZINHO VERMELHO,Urbana,Privada,14.3,...,--,--,--,--,--,--,--,--,--,--
4,2019,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,--,...,--,--,--,--,--,--,--,--,--,--

In [10]:
teacherAdequacy_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 44 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ano                         224 non-null    int64
 1   Região                      224 non-null    object
 2   UF                          224 non-null    object
 3   Código do Município         224 non-null    int64
 4   Nome do Município           224 non-null    object
 5   Código da Escola            224 non-null    int64
 6   Nome da Escola              224 non-null    object
 7   Localização                 224 non-null    object
 8   Dependência Administrativa  224 non-null    object
 9   Grupo 1I                    224 non-null    object
 10  Grupo 2I                    224 non-null    object
 11  Grupo 3I                    224 non-null    object
 12  Grupo 4I                    224 non-null    object
 13  Grupo 5I                    224 non-null    object
 14  Grupo 1FT                   224 non-null    object
 15  Grupo 2FT                   224 non-null    object
 16  Grupo 3FT                   224 non-null    object
 17  Grupo 4FT                   224 non-null    object
 18  Grupo 5FT                   224 non-null    object
 19  Grupo 1FI                   224 non-null    object
 20  Grupo 2FI                   224 non-null    object
 21  Grupo 3FI                   224 non-null    object
 22  Grupo 4FI                   224 non-null    object
 23  Grupo 5FI                   224 non-null    object
 24  Grupo 1FF                   224 non-null    object
 25  Grupo 2FF                   224 non-null    object
 26  Grupo 3FF                   224 non-null    object
 27  Grupo 4FF                   224 non-null    object
 28  Grupo 5FF                   224 non-null    object
 29  Grupo 1M                    224 non-null    object
 30  Grupo 2M                    224 non-null    object
 31  Grupo 3M                    224 non-null    object
 32  Grupo 4M                    224 non-null    object
 33  Grupo 5M                    224 non-null    object
 34  Grupo 1EF                   224 non-null    object
 35  Grupo 2EF                   224 non-null    object
 36  Grupo 3EF                   224 non-null    object
 37  Grupo 4EF                   224 non-null    object
 38  Grupo 5EF                   224 non-null    object
 39  Grupo 1EM                   224 non-null    object
 40  Grupo 2EM                   224 non-null    object
 41  Grupo 3EM                   224 non-null    object
 42  Grupo 4EM                   224 non-null    object
 43  Grupo 5EM                   224 non-null    object
dtypes: int64(3), object(41)
memory usage: 77.1+ KB

* Colunas desnecessárias

In [11]:
deletingColumns(teacherAdequacy_Pelotas)

In [12]:
teacherAdequacy_Pelotas.head()

,Ano,Código da Escola,Grupo 1I,Grupo 2I,Grupo 3I,Grupo 4I,Grupo 5I,Grupo 1FT,Grupo 2FT,Grupo 3FT,...,Grupo 1EF,Grupo 2EF,Grupo 3EF,Grupo 4EF,Grupo 5EF,Grupo 1EM,Grupo 2EM,Grupo 3EM,Grupo 4EM,Grupo 5EM
0,2019,43000304,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
1,2019,43001165,20,0,10,0,70,--,--,--,...,--,--,--,--,--,--,--,--,--,--
2,2019,43001173,100,0,0,0,0,--,--,--,...,--,--,--,--,--,--,--,--,--,--
3,2019,43002145,14.3,0,0,0,85.7,--,--,--,...,--,--,--,--,--,--,--,--,--,--
4,2019,43003222,--,--,--,--,--,69.6,26.5,3.9,...,--,--,--,--,--,--,--,--,--,--

### Teste JSON

In [17]:
rowData = teacherAdequacy_Pelotas.iloc[ 0 , : ]

In [18]:
JSONstructure(rowData)

{'Percentual de docentes por grupo do indicador de adequação da formação do docente': {'Última atualização': 2019,
  'Educação Infantil': {'Grupo 1': '--',
   'Grupo 2': '--',
   'Grupo 3': '--',
   'Grupo 4': '--',
   'Grupo 5': '--'},
  'Ensino Fundamental': {'Total': {'Grupo 1': '--',
    'Grupo 2': '--',
    'Grupo 3': '--',
    'Grupo 4': '--',
    'Grupo 5': '--'},
   'Anos iniciais': {'Grupo 1': '--',
    'Grupo 2': '--',
    'Grupo 3': '--',
    'Grupo 4': '--',
    'Grupo 5': '--'},
   'Anos finais': {'Grupo 1': '--',
    'Grupo 2': '--',
    'Grupo 3': '--',
    'Grupo 4': '--',
    'Grupo 5': '--'}},
  'Ensino Médio': {'Grupo 1': 86,
   'Grupo 2': 0,
   'Grupo 3': 14,
   'Grupo 4': 0,
   'Grupo 5': 0},
  'EJA': {'Ensino Fundamental': {'Grupo 1': '--',
    'Grupo 2': '--',
    'Grupo 3': '--',
    'Grupo 4': '--',
    'Grupo 5': '--'},
   'Ensino Médio': {'Grupo 1': '--',
    'Grupo 2': '--',
    'Grupo 3': '--',
    'Grupo 4': '--',
    'Grupo 5': '--'}}}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [ ]:
insertIntoDB(teacherAdequacy_Pelotas, collection)

In [ ]:
collection.find_one({"Código INEP": 43000304})