# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [18]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://admin:CrIE1553@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Indicador de complexidade de gestão da escola": 
                {
                "Última atualização": data["Ano"],
                "Nível de complexidade de gestão da escola": data["Nível de complexidade de gestão da escola"]
            }};

    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [3]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [4]:
schoolManagement = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\ComplexidadeGestaoEscola.xlsx')

In [5]:
schoolManagement.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Nível de complexidade de gestão da escola
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,Nível 1
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual,Nível 3
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,Nível 1
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,Nível 3
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,Nível 3

In [6]:
schoolManagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180610 entries, 0 to 180609
Data columns (total 10 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Ano                                        180610 non-null  int64
 1   Região                                     180610 non-null  object
 2   UF                                         180610 non-null  object
 3   Código do Município                        180610 non-null  int64
 4   Nome do Município                          180610 non-null  object
 5   Código da Escola                           180610 non-null  int64
 6   Nome da Escola                             180610 non-null  object
 7   Localização                                180610 non-null  object
 8   Dependência Administrativa                 180610 non-null  object
 9   Nível de complexidade de gestão da escola  180610 non-null  object
dtypes: int64(3), object(7)
memory usage: 13.8+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [7]:
schoolManagement_Pelotas = filterPelotas(schoolManagement)

In [8]:
schoolManagement_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Nível de complexidade de gestão da escola
0,2019,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,Nível 2
1,2019,Sul,RS,4314407,Pelotas,43001165,EEI CRIANCA AMADA,Urbana,Privada,Nível 1
2,2019,Sul,RS,4314407,Pelotas,43001173,EEI MUNDO DO MICKEY,Urbana,Privada,Nível 1
3,2019,Sul,RS,4314407,Pelotas,43002145,EEI CHAPEUZINHO VERMELHO,Urbana,Privada,Nível 1
4,2019,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,Nível 3

In [9]:
schoolManagement_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Ano                                        236 non-null    int64
 1   Região                                     236 non-null    object
 2   UF                                         236 non-null    object
 3   Código do Município                        236 non-null    int64
 4   Nome do Município                          236 non-null    object
 5   Código da Escola                           236 non-null    int64
 6   Nome da Escola                             236 non-null    object
 7   Localização                                236 non-null    object
 8   Dependência Administrativa                 236 non-null    object
 9   Nível de complexidade de gestão da escola  236 non-null    object
dtypes: int64(3), object(7)
memory usage: 18.6+ KB

* Colunas desnecessárias

In [10]:
deletingColumns(schoolManagement_Pelotas)

In [11]:
schoolManagement_Pelotas.head()

    Ano  Código da Escola Nível de complexidade de gestão da escola
0  2019          43000304                                   Nível 2
1  2019          43001165                                   Nível 1
2  2019          43001173                                   Nível 1
3  2019          43002145                                   Nível 1
4  2019          43003222                                   Nível 3

### Teste JSON

In [14]:
rowData = schoolManagement_Pelotas.iloc[ 0 , : ]

In [19]:
JSONstructure(rowData)

{'Indicador de complexidade de gestão da escola': {'Última atualização': 2019,
  'Nível de complexidade de gestão da escola': 'Nível 2'}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [ ]:
insertIntoDB(schoolManagement_Pelotas, collection)

In [ ]:
collection.find_one({"Código INEP": 43000304})