# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [12]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://admin:CrIE1553@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Esforço docente": 
                {
                "Última atualização": data["Ano"],
                "Ensino Fundamental":
                    {
                        "Total": {
                            "Grupo 1": data["Grupo 1FT"],
                            "Grupo 2": data["Grupo 2FT"],
                            "Grupo 3": data["Grupo 3FT"],
                            "Grupo 4": data["Grupo 4FT"],
                            "Grupo 5": data["Grupo 5FT"],
                            "Grupo 6": data["Grupo 6FT"]
                        },
                        "Anos iniciais": {
                            "Grupo 1": data["Grupo 1FI"],
                            "Grupo 2": data["Grupo 2FI"],
                            "Grupo 3": data["Grupo 3FI"],
                            "Grupo 4": data["Grupo 4FI"],
                            "Grupo 5": data["Grupo 5FI"],
                            "Grupo 6": data["Grupo 6FI"]
                        },
                        "Anos finais": {
                            "Grupo 1": data["Grupo 1FF"],
                            "Grupo 2": data["Grupo 2FF"],
                            "Grupo 3": data["Grupo 3FF"],
                            "Grupo 4": data["Grupo 4FF"],
                            "Grupo 5": data["Grupo 5FF"],
                            "Grupo 6": data["Grupo 6FF"]
                        }
                    },
                "Ensino Médio": 
                    {
                        "Grupo 1": data["Grupo 1M"],
                        "Grupo 2": data["Grupo 2M"],
                        "Grupo 3": data["Grupo 3M"],
                        "Grupo 4": data["Grupo 4M"],
                        "Grupo 5": data["Grupo 5M"],
                        "Grupo 6": data["Grupo 6M"]
                    }
            }};

    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [3]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [4]:
teachingEffort = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\EsforcoDocente.xlsx')

In [5]:
teachingEffort.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Grupo 1FT,...,Grupo 3FF,Grupo 4FF,Grupo 5FF,Grupo 6FF,Grupo 1M,Grupo 2M,Grupo 3M,Grupo 4M,Grupo 5M,Grupo 6M
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,100.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,100.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,33.3,...,60.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,30.7,...,37.5,37.5,0.0,12.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024682,EEEF EURIDICE LOPES PEDROSO,Urbana,Estadual,24.0,...,42.9,35.7,14.3,7.1,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
teachingEffort.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134152 entries, 0 to 134151
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Ano                         134152 non-null  int64
 1   Região                      134152 non-null  object
 2   UF                          134152 non-null  object
 3   Código do Município         134152 non-null  int64
 4   Nome do Município           134152 non-null  object
 5   Código da Escola            134152 non-null  int64
 6   Nome da Escola              134152 non-null  object
 7   Localização                 134152 non-null  object
 8   Dependência Administrativa  134152 non-null  object
 9   Grupo 1FT                   126166 non-null  float64
 10  Grupo 2FT                   126166 non-null  float64
 11  Grupo 3FT                   126166 non-null  float64
 12  Grupo 4FT                   126166 non-null  float64
 13  Grupo 5FT                   126166 non-null  float64
 14  Grupo 6FT                   126166 non-null  float64
 15  Grupo 1FI                   94493 non-null   float64
 16  Grupo 2FI                   94493 non-null   float64
 17  Grupo 3FI                   94493 non-null   float64
 18  Grupo 4FI                   94493 non-null   float64
 19  Grupo 5FI                   94493 non-null   float64
 20  Grupo 6FI                   94493 non-null   float64
 21  Grupo 1FF                   83219 non-null   float64
 22  Grupo 2FF                   83219 non-null   float64
 23  Grupo 3FF                   83219 non-null   float64
 24  Grupo 4FF                   83219 non-null   float64
 25  Grupo 5FF                   83219 non-null   float64
 26  Grupo 6FF                   83219 non-null   float64
 27  Grupo 1M                    28860 non-null   float64
 28  Grupo 2M                    28860 non-null   float64
 29  Grupo 3M                    28860 non-null   float64
 30  Grupo 4M                    28860 non-null   float64
 31  Grupo 5M                    28860 non-null   float64
 32  Grupo 6M                    28860 non-null   float64
dtypes: float64(24), int64(3), object(6)
memory usage: 33.8+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [13]:
teachingEffort_Pelotas = filterPelotas(teachingEffort)

In [14]:
teachingEffort_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Grupo 1FT,...,Grupo 3FF,Grupo 4FF,Grupo 5FF,Grupo 6FF,Grupo 1M,Grupo 2M,Grupo 3M,Grupo 4M,Grupo 5M,Grupo 6M
0,2019,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,NaN,...,NaN,NaN,NaN,NaN,0.0,5.8,35.3,35.3,11.8,11.8
1,2019,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,2.3,...,17.6,41.2,23.5,11.8,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Sul,RS,4314407,Pelotas,43012396,ESC EST ENS MED COLONIA DE PESCADORES Z 3,Rural,Estadual,NaN,...,NaN,NaN,NaN,NaN,0.0,14.3,0.0,71.4,14.3,0.0
3,2019,Sul,RS,4314407,Pelotas,43065376,EMEF WALDEMAR DENZER,Rural,Municipal,21.5,...,20.0,70.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,Sul,RS,4314407,Pelotas,43100007,COLEGIO GONZAGA,Urbana,Privada,10.6,...,11.8,44.1,26.5,8.8,0.0,4.4,26.1,39.1,21.7,8.7

In [9]:
teachingEffort_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ano                         139 non-null    int64
 1   Região                      139 non-null    object
 2   UF                          139 non-null    object
 3   Código do Município         139 non-null    int64
 4   Nome do Município           139 non-null    object
 5   Código da Escola            139 non-null    int64
 6   Nome da Escola              139 non-null    object
 7   Localização                 139 non-null    object
 8   Dependência Administrativa  139 non-null    object
 9   Grupo 1FT                   128 non-null    float64
 10  Grupo 2FT                   128 non-null    float64
 11  Grupo 3FT                   128 non-null    float64
 12  Grupo 4FT                   128 non-null    float64
 13  Grupo 5FT                   128 non-null    float64
 14  Grupo 6FT                   128 non-null    float64
 15  Grupo 1FI                   118 non-null    float64
 16  Grupo 2FI                   118 non-null    float64
 17  Grupo 3FI                   118 non-null    float64
 18  Grupo 4FI                   118 non-null    float64
 19  Grupo 5FI                   118 non-null    float64
 20  Grupo 6FI                   118 non-null    float64
 21  Grupo 1FF                   103 non-null    float64
 22  Grupo 2FF                   103 non-null    float64
 23  Grupo 3FF                   103 non-null    float64
 24  Grupo 4FF                   103 non-null    float64
 25  Grupo 5FF                   103 non-null    float64
 26  Grupo 6FF                   103 non-null    float64
 27  Grupo 1M                    36 non-null     float64
 28  Grupo 2M                    36 non-null     float64
 29  Grupo 3M                    36 non-null     float64
 30  Grupo 4M                    36 non-null     float64
 31  Grupo 5M                    36 non-null     float64
 32  Grupo 6M                    36 non-null     float64
dtypes: float64(24), int64(3), object(6)
memory usage: 36.0+ KB

* Colunas desnecessárias

In [10]:
deletingColumns(teachingEffort_Pelotas)

In [11]:
teachingEffort_Pelotas.head()

,Ano,Código da Escola,Grupo 1FT,Grupo 2FT,Grupo 3FT,Grupo 4FT,Grupo 5FT,Grupo 6FT,Grupo 1FI,Grupo 2FI,...,Grupo 3FF,Grupo 4FF,Grupo 5FF,Grupo 6FF,Grupo 1M,Grupo 2M,Grupo 3M,Grupo 4M,Grupo 5M,Grupo 6M
0,2019,43000304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,5.8,35.3,35.3,11.8,11.8
1,2019,43003222,2.3,16.7,26.2,40.5,9.5,4.8,3.0,18.8,...,17.6,41.2,23.5,11.8,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,43012396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,14.3,0.0,71.4,14.3,0.0
3,2019,43065376,21.5,0.0,21.4,50.0,7.1,0.0,50.0,0.0,...,20.0,70.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,43100007,10.6,15.8,17.5,33.3,17.5,5.3,18.7,18.8,...,11.8,44.1,26.5,8.8,0.0,4.4,26.1,39.1,21.7,8.7

### Teste JSON

In [15]:
rowData = teachingEffort_Pelotas.iloc[ 0 , : ]

In [16]:
JSONstructure(rowData)

{'Esforço docente': {'Última atualização': 2019,
  'Ensino Fundamental': {'Total': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan,
    'Grupo 6': nan},
   'Anos iniciais': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan,
    'Grupo 6': nan},
   'Anos finais': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan,
    'Grupo 6': nan}},
  'Ensino Médio': {'Grupo 1': 0.0,
   'Grupo 2': 5.8,
   'Grupo 3': 35.3,
   'Grupo 4': 35.3,
   'Grupo 5': 11.8,
   'Grupo 6': 11.8}}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [ ]:
insertIntoDB(teachingEffort_Pelotas, collection)

In [ ]:
collection.find_one({"Código INEP": 43000304})