# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [21]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://admin:CrIE1553@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Média de alunos por turma": 
                {
                "Última atualização": data["Ano"],
                "Educação Infantil": 
                    {
                       "Total": data["TotalI"],
                       "Creche": data["Creche"],
                       "Pré-Escola": data["Pré-Escola"]
                    },
                "Ensino Fundamental 8 e 9 anos":
                    {
                        "Total": data["TotalF"],
                        "Anos Iniciais": data["Anos Iniciais"],
                        "Anos Finais": data["Anos Finais"],
                        "1 Ano": data["1° ano"],
                        "2 Ano": data["2° ano"],
                        "3 Ano": data["3° ano"],
                        "4 Ano": data["4° ano"],
                        "5 Ano": data["5° ano"],
                        "6 Ano": data["6° ano"],
                        "7 Ano": data["7° ano"],
                        "8 Ano": data["8° ano"],
                        "9 Ano": data["9° ano"],
                        "Turmas Multietapa, Multi ou Correção de Fluxo 2": data["Turmas Multietapa, Multi ou Correção de Fluxo 2"] 
                    },
                "Ensino Médio": 
                    {
                        "Total": data["TotalM"],
                        "1 série": data["1ª série"],
                        "2 série": data["2ª série"],
                        "3 série": data["3ª série"],
                        "4 série": data["4ª série"],
                        "Não-Seriado": data["Não-Seriado"]
                    }
            }};

    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [3]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [4]:
studentsAVG = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\MediaDeAlunosPorTurma.xlsx')

In [5]:
studentsAVG.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalI,...,7° ano,8° ano,9° ano,"Turmas Multietapa, Multi ou Correção de Fluxo 2",TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,--,...,--,--,--,7,--,--,--,--,--,--
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual,--,...,--,--,--,--,--,--,--,--,--,--
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,--,...,--,--,--,10,--,--,--,--,--,--
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,10,...,7,15,8,23.5,--,--,--,--,--,--
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,16,...,20,26,18,--,--,--,--,--,--,--

In [6]:
studentsAVG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176386 entries, 0 to 176385
Data columns (total 31 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   Ano                                              176386 non-null  int64
 1   Região                                           176386 non-null  object
 2   UF                                               176386 non-null  object
 3   Código do Município                              176386 non-null  int64
 4   Nome do Município                                176386 non-null  object
 5   Código da Escola                                 176386 non-null  int64
 6   Nome da Escola                                   176386 non-null  object
 7   Localização                                      176386 non-null  object
 8   Dependência Administrativa                       176386 non-null  object
 9   TotalI                                           176386 non-null  object
 10  Creche                                           176386 non-null  object
 11  Pré-Escola                                       176386 non-null  object
 12  TotalF                                           176386 non-null  object
 13  Anos Iniciais                                    176386 non-null  object
 14  Anos Finais                                      176386 non-null  object
 15  1° ano                                           176386 non-null  object
 16  2° ano                                           176386 non-null  object
 17  3° ano                                           176386 non-null  object
 18  4° ano                                           176386 non-null  object
 19  5° ano                                           176386 non-null  object
 20  6° ano                                           176386 non-null  object
 21  7° ano                                           176386 non-null  object
 22  8° ano                                           176386 non-null  object
 23  9° ano                                           176386 non-null  object
 24  Turmas Multietapa, Multi ou Correção de Fluxo 2  176386 non-null  object
 25  TotalM                                           176386 non-null  object
 26  1ª série                                         176386 non-null  object
 27  2ª série                                         176386 non-null  object
 28  3ª série                                         176386 non-null  object
 29  4ª série                                         176386 non-null  object
 30  Não-Seriado                                      176386 non-null  object
dtypes: int64(3), object(28)
memory usage: 41.7+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [9]:
studentsAVG_Pelotas = filterPelotas(studentsAVG)

In [10]:
studentsAVG_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalI,...,7° ano,8° ano,9° ano,"Turmas Multietapa, Multi ou Correção de Fluxo 2",TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,--,...,--,--,--,--,26.6,25,26,30,--,--
1,2019,Sul,RS,4314407,Pelotas,43001165,EEI CRIANCA AMADA,Urbana,Privada,14,...,--,--,--,--,--,--,--,--,--,--
2,2019,Sul,RS,4314407,Pelotas,43001173,EEI MUNDO DO MICKEY,Urbana,Privada,3,...,--,--,--,--,--,--,--,--,--,--
3,2019,Sul,RS,4314407,Pelotas,43002145,EEI CHAPEUZINHO VERMELHO,Urbana,Privada,3.5,...,--,--,--,--,--,--,--,--,--,--
4,2019,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,--,...,30.5,37,--,--,--,--,--,--,--,--

In [11]:
studentsAVG_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 31 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Ano                                              228 non-null    int64
 1   Região                                           228 non-null    object
 2   UF                                               228 non-null    object
 3   Código do Município                              228 non-null    int64
 4   Nome do Município                                228 non-null    object
 5   Código da Escola                                 228 non-null    int64
 6   Nome da Escola                                   228 non-null    object
 7   Localização                                      228 non-null    object
 8   Dependência Administrativa                       228 non-null    object
 9   TotalI                                           228 non-null    object
 10  Creche                                           228 non-null    object
 11  Pré-Escola                                       228 non-null    object
 12  TotalF                                           228 non-null    object
 13  Anos Iniciais                                    228 non-null    object
 14  Anos Finais                                      228 non-null    object
 15  1° ano                                           228 non-null    object
 16  2° ano                                           228 non-null    object
 17  3° ano                                           228 non-null    object
 18  4° ano                                           228 non-null    object
 19  5° ano                                           228 non-null    object
 20  6° ano                                           228 non-null    object
 21  7° ano                                           228 non-null    object
 22  8° ano                                           228 non-null    object
 23  9° ano                                           228 non-null    object
 24  Turmas Multietapa, Multi ou Correção de Fluxo 2  228 non-null    object
 25  TotalM                                           228 non-null    object
 26  1ª série                                         228 non-null    object
 27  2ª série                                         228 non-null    object
 28  3ª série                                         228 non-null    object
 29  4ª série                                         228 non-null    object
 30  Não-Seriado                                      228 non-null    object
dtypes: int64(3), object(28)
memory usage: 55.3+ KB

* Colunas desnecessárias

In [12]:
deletingColumns(studentsAVG_Pelotas)

In [13]:
studentsAVG_Pelotas.head()

,Ano,Código da Escola,TotalI,Creche,Pré-Escola,TotalF,Anos Iniciais,Anos Finais,1° ano,2° ano,...,7° ano,8° ano,9° ano,"Turmas Multietapa, Multi ou Correção de Fluxo 2",TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019,43000304,--,--,--,--,--,--,--,--,...,--,--,--,--,26.6,25,26,30,--,--
1,2019,43001165,14,13.6,15,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
2,2019,43001173,3,6,1.5,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
3,2019,43002145,3.5,4.3,2.7,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
4,2019,43003222,--,--,--,29.4,27.3,34.7,26.7,27.7,...,30.5,37,--,--,--,--,--,--,--,--

### Teste JSON

In [22]:
rowData = studentsAVG_Pelotas.iloc[ 0 , : ]

In [23]:
JSONstructure(rowData)

{'Média de alunos por turma': {'Última atualização': 2019,
  'Educação Infantil': {'Total': '--', 'Creche': '--', 'Pré-Escola': '--'},
  'Ensino Fundamental 8 e 9 anos': {'Total': '--',
   'Anos Iniciais': '--',
   'Anos Finais': '--',
   '1 Ano': '--',
   '2 Ano': '--',
   '3 Ano': '--',
   '4 Ano': '--',
   '5 Ano': '--',
   '6 Ano': '--',
   '7 Ano': '--',
   '8 Ano': '--',
   '9 Ano': '--',
   'Turmas Multietapa, Multi ou Correção de Fluxo 2': '--'},
  'Ensino Médio': {'Total': 26.6,
   '1 série': 25,
   '2 série': 26,
   '3 série': 30,
   '4 série': '--',
   'Não-Seriado': '--'}}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [ ]:
insertIntoDB(studentsAVG_Pelotas, collection)

In [14]:
collection.find_one({"Código INEP": 43000304})

{'_id': ObjectId('5f2445bd647ad0c134f5893e'),
 'Restrição de Atendimento': 'ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATENDIMENTO',
 'Escola': 'COLEGIO TIRADENTES PELOTAS',
 'Código INEP': 43000304,
 'UF': 'RS',
 'Município': 'Pelotas',
 'Localização': 'Urbana',
 'Localidade Diferenciada': 'A escola não está em área de localização diferenciada',
 'Categoria Administrativa': 'Pública',
 'Endereço': 'AV DUQUE DE CAXIAS 546, 546 FRAGATA. 96030-003 Pelotas - RS.',
 'Telefone': '(53) 32812866',
 'Dependência Administrativa': 'Estadual',
 'Categoria Escola Privada': 'Não Informado',
 'Conveniada Poder Público': 'Não',
 'Regulamentação pelo Conselho de Educação': 'Sim',
 'Porte da Escola': 'Entre 201 e 500 matrículas de escolarização',
 'Etapas e Modalidade de Ensino Oferecidas': 'Ensino Médio',
 'Outras Ofertas Educacionais': None,
 'Latitude': -31.75701,
 'Longitude': -52.37308,
 'Media de alunos por turma': {'Última atualização': 2019,
  'Educação Infantil': {'Total': '--', 'Creche': '--', 'Pré-Escola': '--'},
  'Ensino Fundamental 8 e 9 anos': {'Total': '--',
   'Anos Iniciais': '--',
   'Anos Finais': '--',
   '1º Ano': '--',
   '2º Ano': '--',
   '3º Ano': '--',
   '4º Ano': '--',
   '5º Ano': '--',
   '6º Ano': '--',
   '7º Ano': '--',
   '8º Ano': '--',
   '9º Ano': '--',
   'Turmas Multietapa, Multi ou Correção de Fluxo 2': '--'},
  'Ensino Médio': {'Total': 26.6,
   '1ª série': 25,
   '2ª série': 26,
   '3ª série': 30,
   '4ª série': '--',
   'Não-Seriado': '--'}},
 'Media Horas-Aula diárias por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': nan, 'Creche': nan, 'Pré-Escola': nan},
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1º Ano': nan,
   '2º Ano': nan,
   '3º Ano': nan,
   '4º Ano': nan,
   '5º Ano': nan,
   '6º Ano': nan,
   '7º Ano': nan,
   '8º Ano': nan,
   '9º Ano': nan},
  'Ensino Médio': {'Total': 8.9,
   '1ª série': 8.9,
   '2ª série': 8.9,
   '3ª série': 8.9,
   '4ª série': nan,
   'Não-Seriado': nan}},
 'Taxa de distorção de idade-série por turma': {'Última atualização': 2019,
  'Ensino Fundamental 8 e 9 anos': {'Total': '--',
   'Anos Iniciais': '--',
   'Anos Finais': '--',
   '1º Ano': '--',
   '2º Ano': '--',
   '3º Ano': '--',
   '4º Ano': '--',
   '5º Ano': '--',
   '6º Ano': '--',
   '7º Ano': '--',
   '8º Ano': '--',
   '9º Ano': '--'},
  'Ensino Médio': {'Total': 13.1,
   '1ª série': 6.7,
   '2ª série': 23.1,
   '3ª série': 8.3,
   '4ª série': '--'}},
 'Taxa de rendimento escolar': {'Última atualização': 2018,
  'Ensino Fundamental 8 e 9 anos': {'Total': '--',
   'Anos Iniciais': '--',
   'Anos Finais': '--',
   '1º Ano': '--',
   '2º Ano': '--',
   '3º Ano': '--',
   '4º Ano': '--',
   '5º Ano': '--',
   '6º Ano': '--',
   '7º Ano': '--',
   '8º Ano': '--',
   '9º Ano': '--'},
  'Ensino Médio': {'Total': 0,
   '1ª série': 0,
   '2ª série': 0,
   '3ª série': 0,
   '4ª série': '--',
   'Não-Seriado': '--'}}}