# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [22]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://admin:CrIE1553@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Media Horas-Aula diárias por turma": 
                {
                "Última atualização": data["Ano"],
                "Educação Infantil": 
                    {
                       "Total": data["TotalI"],
                       "Creche": data["Creche"],
                       "Pré-Escola": data["Pré-Escola"]
                    },
                "Ensino Fundamental 8 e 9 anos":
                    {
                        "Total": data["TotalF"],
                        "Anos Iniciais": data["Anos Iniciais"],
                        "Anos Finais": data["Anos Finais"],
                        "1 Ano": data["1° ano"],
                        "2 Ano": data["2° ano"],
                        "3 Ano": data["3° ano"],
                        "4 Ano": data["4° ano"],
                        "5 Ano": data["5° ano"],
                        "6 Ano": data["6° ano"],
                        "7 Ano": data["7° ano"],
                        "8 Ano": data["8° ano"],
                        "9 Ano": data["9° ano"]
                    },
                "Ensino Médio": 
                    {
                        "Total": data["TotalM"],
                        "1 série": data["1ª série"],
                        "2 série": data["2ª série"],
                        "3 série": data["3ª série"],
                        "4 série": data["4ª série"],
                        "Não-Seriado": data["Não-Seriado"]
                    }
            }};

    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [4]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [5]:
hoursAVG = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\MediaHorasAulaDiaria.xlsx')

In [6]:
hoursAVG.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalI,...,6° ano,7° ano,8° ano,9° ano,TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024682,EEEF EURIDICE LOPES PEDROSO,Urbana,Estadual,NaN,...,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024828,EMEIEF IZIDORO STEDILE,Urbana,Municipal,4.0,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024917,EMEIEF JOSE BASILIO DA GAMA,Rural,Municipal,NaN,...,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
hoursAVG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152509 entries, 0 to 152508
Data columns (total 30 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Ano                         152509 non-null  int64
 1   Região                      152509 non-null  object
 2   UF                          152509 non-null  object
 3   Código do Município         152509 non-null  int64
 4   Nome do Município           152509 non-null  object
 5   Código da Escola            152509 non-null  int64
 6   Nome da Escola              152509 non-null  object
 7   Localização                 152509 non-null  object
 8   Dependência Administrativa  152509 non-null  object
 9   TotalI                      94830 non-null   float64
 10  Creche                      59884 non-null   float64
 11  Pré-Escola                  82102 non-null   float64
 12  TotalF                      98340 non-null   float64
 13  Anos Iniciais               79636 non-null   float64
 14  Anos Finais                 56800 non-null   float64
 15  1° ano                      68593 non-null   float64
 16  2° ano                      67030 non-null   float64
 17  3° ano                      70088 non-null   float64
 18  4° ano                      67923 non-null   float64
 19  5° ano                      69041 non-null   float64
 20  6° ano                      54718 non-null   float64
 21  7° ano                      53664 non-null   float64
 22  8° ano                      52897 non-null   float64
 23  9° ano                      52188 non-null   float64
 24  TotalM                      28833 non-null   float64
 25  1ª série                    28173 non-null   float64
 26  2ª série                    27792 non-null   float64
 27  3ª série                    27303 non-null   float64
 28  4ª série                    943 non-null     float64
 29  Não-Seriado                 688 non-null     float64
dtypes: float64(21), int64(3), object(6)
memory usage: 34.9+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [8]:
hoursAVG_Pelotas = filterPelotas(hoursAVG)

In [10]:
hoursAVG_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalI,...,6° ano,7° ano,8° ano,9° ano,TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,NaN,...,NaN,NaN,NaN,NaN,8.9,8.9,8.9,8.9,NaN,NaN
1,2019,Sul,RS,4314407,Pelotas,43001165,EEI CRIANCA AMADA,Urbana,Privada,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Sul,RS,4314407,Pelotas,43001173,EEI MUNDO DO MICKEY,Urbana,Privada,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,Sul,RS,4314407,Pelotas,43002145,EEI CHAPEUZINHO VERMELHO,Urbana,Privada,5.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,NaN,...,4.1,4.1,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
hoursAVG_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ano                         224 non-null    int64
 1   Região                      224 non-null    object
 2   UF                          224 non-null    object
 3   Código do Município         224 non-null    int64
 4   Nome do Município           224 non-null    object
 5   Código da Escola            224 non-null    int64
 6   Nome da Escola              224 non-null    object
 7   Localização                 224 non-null    object
 8   Dependência Administrativa  224 non-null    object
 9   TotalI                      161 non-null    float64
 10  Creche                      95 non-null     float64
 11  Pré-Escola                  157 non-null    float64
 12  TotalF                      119 non-null    float64
 13  Anos Iniciais               112 non-null    float64
 14  Anos Finais                 93 non-null     float64
 15  1° ano                      107 non-null    float64
 16  2° ano                      105 non-null    float64
 17  3° ano                      108 non-null    float64
 18  4° ano                      106 non-null    float64
 19  5° ano                      109 non-null    float64
 20  6° ano                      89 non-null     float64
 21  7° ano                      88 non-null     float64
 22  8° ano                      86 non-null     float64
 23  9° ano                      87 non-null     float64
 24  TotalM                      36 non-null     float64
 25  1ª série                    35 non-null     float64
 26  2ª série                    35 non-null     float64
 27  3ª série                    34 non-null     float64
 28  4ª série                    3 non-null      float64
 29  Não-Seriado                 0 non-null      float64
dtypes: float64(21), int64(3), object(6)
memory usage: 52.6+ KB

* Colunas desnecessárias

In [13]:
deletingColumns(hoursAVG_Pelotas)

In [15]:
hoursAVG_Pelotas.head()

,Ano,Código da Escola,TotalI,Creche,Pré-Escola,TotalF,Anos Iniciais,Anos Finais,1° ano,2° ano,...,6° ano,7° ano,8° ano,9° ano,TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019,43000304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.9,8.9,8.9,8.9,NaN,NaN
1,2019,43001165,12.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,43001173,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,43002145,5.5,5.4,5.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,43003222,NaN,NaN,NaN,4.2,4.3,4.1,4.3,4.3,...,4.1,4.1,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Teste JSON

In [23]:
rowData = hoursAVG_Pelotas.iloc[ 0 , : ]

In [24]:
JSONstructure(rowData)

{'Media Horas-Aula diárias por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': nan, 'Creche': nan, 'Pré-Escola': nan},
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan},
  'Ensino Médio': {'Total': 8.9,
   '1 série': 8.9,
   '2 série': 8.9,
   '3 série': 8.9,
   '4 série': nan,
   'Não-Seriado': nan}}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [ ]:
insertIntoDB(hoursAVG_Pelotas, collection)

In [ ]:
collection.find_one({"Código INEP": 43000304})