# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [14]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://admin:CrIE1553@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Regularidade do corpo docente": 
                {
                "Última atualização": data["Ano"],
                "Média do Indicador de Regularidade do Docente (IRD) Infantil": data["Média do Indicador de Regularidade do Docente (IRD)"] 
                   }};
    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [3]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [4]:
regularityTeachingStaff = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\RegularidadeCorpoDocente.xlsx')

In [5]:
regularityTeachingStaff.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Média do Indicador de Regularidade do Docente (IRD)
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,5.000000
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual,2.717166
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,4.220497
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,3.182885
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,2.535197

In [6]:
regularityTeachingStaff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166177 entries, 0 to 166176
Data columns (total 10 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Ano                                                  166177 non-null  int64
 1   Região                                               166177 non-null  object
 2   UF                                                   166177 non-null  object
 3   Código do Município                                  166177 non-null  int64
 4   Nome do Município                                    166177 non-null  object
 5   Código da Escola                                     166177 non-null  int64
 6   Nome da Escola                                       166177 non-null  object
 7   Localização                                          166177 non-null  object
 8   Dependência Administrativa                           166177 non-null  object
 9   Média do Indicador de Regularidade do Docente (IRD)  166177 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 12.7+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [7]:
regularityTeachingStaff_Pelotas = filterPelotas(regularityTeachingStaff)

In [8]:
regularityTeachingStaff_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Média do Indicador de Regularidade do Docente (IRD)
0,2019,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,4.257596
1,2019,Sul,RS,4314407,Pelotas,43001165,EEI CRIANCA AMADA,Urbana,Privada,2.159938
2,2019,Sul,RS,4314407,Pelotas,43001173,EEI MUNDO DO MICKEY,Urbana,Privada,2.207039
3,2019,Sul,RS,4314407,Pelotas,43002145,EEI CHAPEUZINHO VERMELHO,Urbana,Privada,2.924656
4,2019,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,3.431293

In [9]:
regularityTeachingStaff_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Ano                                                  208 non-null    int64
 1   Região                                               208 non-null    object
 2   UF                                                   208 non-null    object
 3   Código do Município                                  208 non-null    int64
 4   Nome do Município                                    208 non-null    object
 5   Código da Escola                                     208 non-null    int64
 6   Nome da Escola                                       208 non-null    object
 7   Localização                                          208 non-null    object
 8   Dependência Administrativa                           208 non-null    object
 9   Média do Indicador de Regularidade do Docente (IRD)  208 non-null    float64
dtypes: float64(1), int64(3), object(6)
memory usage: 16.4+ KB

* Colunas desnecessárias

In [10]:
deletingColumns(regularityTeachingStaff_Pelotas)

In [12]:
regularityTeachingStaff_Pelotas.head()

    Ano  Código da Escola  Média do Indicador de Regularidade do Docente (IRD)
0  2019          43000304                                           4.257596
1  2019          43001165                                           2.159938
2  2019          43001173                                           2.207039
3  2019          43002145                                           2.924656
4  2019          43003222                                           3.431293

### Teste JSON

In [15]:
rowData = regularityTeachingStaff_Pelotas.iloc[ 0 , : ]

In [16]:
JSONstructure(rowData)

{'Regularidade do corpo docente': {'Última atualização': 2019.0,
  'Média do Indicador de Regularidade do Docente (IRD) Infantil': 4.257596}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [ ]:
insertIntoDB(regularityTeachingStaff_Pelotas, collection)

In [ ]:
collection.find_one({"Código INEP": 43000304})