# Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [2]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://<ADMIN>:<PASSWORD>@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Regularidade do corpo docente": 
                {
                "Última atualização": data["Ano"],
                "Média do Indicador de Regularidade do Docente (IRD) Infantil": data["Média do Indicador de Regularidade do Docente (IRD)"] 
                   }};
    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [3]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [4]:
regularityTeachingStaff = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\RegularidadeCorpoDocente.xlsx')

In [5]:
regularityTeachingStaff.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Média do Indicador de Regularidade do Docente (IRD)
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,5.000000
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual,2.717166
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,4.220497
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,3.182885
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,2.535197

In [6]:
regularityTeachingStaff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166177 entries, 0 to 166176
Data columns (total 10 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Ano                                                  166177 non-null  int64
 1   Região                                               166177 non-null  object
 2   UF                                                   166177 non-null  object
 3   Código do Município                                  166177 non-null  int64
 4   Nome do Município                                    166177 non-null  object
 5   Código da Escola                                     166177 non-null  int64
 6   Nome da Escola                                       166177 non-null  object
 7   Localização                                          166177 non-null  object
 8   Dependência Administrativa                           166177 non-null  object
 9   Média do Indicador de Regularidade do Docente (IRD)  166177 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 12.7+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [7]:
regularityTeachingStaff_Pelotas = filterPelotas(regularityTeachingStaff)

In [8]:
regularityTeachingStaff_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,Média do Indicador de Regularidade do Docente (IRD)
0,2019,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,4.257596
1,2019,Sul,RS,4314407,Pelotas,43001165,EEI CRIANCA AMADA,Urbana,Privada,2.159938
2,2019,Sul,RS,4314407,Pelotas,43001173,EEI MUNDO DO MICKEY,Urbana,Privada,2.207039
3,2019,Sul,RS,4314407,Pelotas,43002145,EEI CHAPEUZINHO VERMELHO,Urbana,Privada,2.924656
4,2019,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,3.431293

In [9]:
regularityTeachingStaff_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Ano                                                  208 non-null    int64
 1   Região                                               208 non-null    object
 2   UF                                                   208 non-null    object
 3   Código do Município                                  208 non-null    int64
 4   Nome do Município                                    208 non-null    object
 5   Código da Escola                                     208 non-null    int64
 6   Nome da Escola                                       208 non-null    object
 7   Localização                                          208 non-null    object
 8   Dependência Administrativa                           208 non-null    object
 9   Média do Indicador de Regularidade do Docente (IRD)  208 non-null    float64
dtypes: float64(1), int64(3), object(6)
memory usage: 16.4+ KB

* Colunas desnecessárias

In [10]:
deletingColumns(regularityTeachingStaff_Pelotas)

In [17]:
regularityTeachingStaff_Pelotas.head()

    Ano  Código da Escola  Média do Indicador de Regularidade do Docente (IRD)
0  2019          43000304                                           4.257596
1  2019          43001165                                           2.159938
2  2019          43001173                                           2.207039
3  2019          43002145                                           2.924656
4  2019          43003222                                           3.431293

### Teste JSON

In [12]:
rowData = regularityTeachingStaff_Pelotas.iloc[ 0 , : ]

In [13]:
JSONstructure(rowData)

{'Regularidade do corpo docente': {'Última atualização': 2019.0,
  'Média do Indicador de Regularidade do Docente (IRD) Infantil': 4.257596}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [15]:
insertIntoDB(regularityTeachingStaff_Pelotas, collection)

In [16]:
collection.find_one({"Código INEP": 43000304})

{'_id': ObjectId('5f2620d181e7e7953bdb84af'),
 'Restrição de Atendimento': 'ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATENDIMENTO',
 'Escola': 'COLEGIO TIRADENTES PELOTAS',
 'Código INEP': 43000304,
 'UF': 'RS',
 'Município': 'Pelotas',
 'Localização': 'Urbana',
 'Localidade Diferenciada': 'A escola não está em área de localização diferenciada',
 'Categoria Administrativa': 'Pública',
 'Endereço': 'AV DUQUE DE CAXIAS 546, 546 FRAGATA. 96030-003 Pelotas - RS.',
 'Telefone': '(53) 32812866',
 'Dependência Administrativa': 'Estadual',
 'Categoria Escola Privada': 'Não Informado',
 'Conveniada Poder Público': 'Não',
 'Regulamentação pelo Conselho de Educação': 'Sim',
 'Porte da Escola': 'Entre 201 e 500 matrículas de escolarização',
 'Etapas e Modalidade de Ensino Oferecidas': 'Ensino Médio',
 'Outras Ofertas Educacionais': None,
 'Latitude': -31.75701,
 'Longitude': -52.37308,
 'Média de alunos por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': nan, 'Creche': nan, 'Pré-Escola': nan},
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan,
   'Turmas Multietapa, Multi ou Correção de Fluxo 2': nan},
  'Ensino Médio': {'Total': 26.6,
   '1 série': 25.0,
   '2 série': 26.0,
   '3 série': 30.0,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Media Horas-Aula diárias por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': nan, 'Creche': nan, 'Pré-Escola': nan},
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan},
  'Ensino Médio': {'Total': 8.9,
   '1 série': 8.9,
   '2 série': 8.9,
   '3 série': 8.9,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Taxa de distorção de idade-série por turma': {'Última atualização': 2019.0,
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan},
  'Ensino Médio': {'Total': 13.1,
   '1 série': 6.7,
   '2 série': 23.1,
   '3 série': 8.3,
   '4 série': nan}},
 'Taxa de rendimento por turma': {'Última atualização': 2018.0,
  'Ensino Fundamental 8 e 9 anos': {'Aprovados': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan},
   'Reprovados': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan},
   'Abandonos': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan}},
  'Ensino Médio': {'Aprovados': {'Total': 92.6,
    '1 série': 96.0,
    '2 série': 84.7,
    '3 série': 100.0,
    '4 série': nan,
    'Não-Seriado': nan},
   'Reprovados': {'Total': 7.4,
    '1 série': 4.0,
    '2 série': 15.3,
    '3 série': 0.0,
    '4 série': nan,
    'Não-Seriado': nan},
   'Abandonos': {'Total': 0.0,
    '1 série': 0.0,
    '2 série': 0.0,
    '3 série': 0.0,
    '4 série': nan,
    'Não-Seriado': nan}}},
 'Taxa de não resposta por turma': {'Última atualização': 2018.0,
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan},
  'Ensino Médio': {'Total': 0.0,
   '1 série': 0.0,
   '2 série': 0.0,
   '3 série': 0.0,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Percentual de funções docentes com curso superior': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': nan, 'Creche': nan, 'Pré-Escola': nan},
  'Ensino Fundamental': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan},
  'Ensino Médio': 100.0,
  'Educação Profissional': nan,
  'Educação de Jovens e Adultos (EJA)': nan,
  'Educação Especial': nan},
 'Percentual de docentes por grupo do indicador de adequação da formação do docente': {'Última atualização': 2019.0,
  'Educação Infantil': {'Grupo 1': nan,
   'Grupo 2': nan,
   'Grupo 3': nan,
   'Grupo 4': nan,
   'Grupo 5': nan},
  'Ensino Fundamental': {'Total': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan},
   'Anos iniciais': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan},
   'Anos finais': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan}},
  'Ensino Médio': {'Grupo 1': 86.0,
   'Grupo 2': 0.0,
   'Grupo 3': 14.0,
   'Grupo 4': 0.0,
   'Grupo 5': 0.0},
  'EJA': {'Ensino Fundamental': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan},
   'Ensino Médio': {'Grupo 1': nan,
    'Grupo 2': nan,
    'Grupo 3': nan,
    'Grupo 4': nan,
    'Grupo 5': nan}}},
 'Regularidade do corpo docente': {'Última atualização': 2019.0,
  'Média do Indicador de Regularidade do Docente (IRD) Infantil': 4.257596}}