# Definição de funções e imports necessários

In [5]:
import pandas as pd
import numpy as np
import json
import pymongo

### Funções

In [6]:
def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://<ADMIN>:<PASSWORD>@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def deletingColumns (dataframe):
    columns = ["Região", 
               "UF", 
               "Código do Município", 
               "Nome do Município", 
               "Nome da Escola", 
               "Localização", 
               "Dependência Administrativa"];
    
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Taxa de rendimento por turma": 
                {
                "Última atualização": data["Ano"],
                "Ensino Fundamental 8 e 9 anos":
                    {
                        "Aprovados": {
                            "Total": data["TotalFA"],
                            "Anos Iniciais": data["Anos IniciaisA"],
                            "Anos Finais": data["Anos FinaisA"],
                            "1 Ano": data["1° anoA"],
                            "2 Ano": data["2° anoA"],
                            "3 Ano": data["3° anoA"],
                            "4 Ano": data["4° anoA"],
                            "5 Ano": data["5° anoA"],
                            "6 Ano": data["6° anoA"],
                            "7 Ano": data["7° anoA"],
                            "8 Ano": data["8° anoA"],
                            "9 Ano": data["9° anoA"]    
                        },
                        "Reprovados": {
                            "Total": data["TotalFR"],
                            "Anos Iniciais": data["Anos IniciaisR"],
                            "Anos Finais": data["Anos FinaisR"],
                            "1 Ano": data["1° anoR"],
                            "2 Ano": data["2° anoR"],
                            "3 Ano": data["3° anoR"],
                            "4 Ano": data["4° anoR"],
                            "5 Ano": data["5° anoR"],
                            "6 Ano": data["6° anoR"],
                            "7 Ano": data["7° anoR"],
                            "8 Ano": data["8° anoR"],
                            "9 Ano": data["9° anoR"]
                        },
                        "Abandonos": {
                            "Total": data["TotalFO"],
                            "Anos Iniciais": data["Anos IniciaisO"],
                            "Anos Finais": data["Anos FinaisO"],
                            "1 Ano": data["1° anoO"],
                            "2 Ano": data["2° anoO"],
                            "3 Ano": data["3° anoO"],
                            "4 Ano": data["4° anoO"],
                            "5 Ano": data["5° anoO"],
                            "6 Ano": data["6° anoO"],
                            "7 Ano": data["7° anoO"],
                            "8 Ano": data["8° anoO"],
                            "9 Ano": data["9° anoO"],
                        }
                    },
                "Ensino Médio": 
                    {
                        "Aprovados": {
                            "Total": data["TotalMA"],
                            "1 série": data["1ª sérieA"],
                            "2 série": data["2ª sérieA"],
                            "3 série": data["3ª sérieA"],
                            "4 série": data["4ª sérieA"],
                            "Não-Seriado": data["Não-SeriadoA"]
                        },
                        "Reprovados": {
                            "Total": data["TotalMR"],
                            "1 série": data["1ª sérieR"],
                            "2 série": data["2ª sérieR"],
                            "3 série": data["3ª sérieR"],
                            "4 série": data["4ª sérieR"],
                            "Não-Seriado": data["Não-SeriadoR"]
                        },
                        "Abandonos": {
                            "Total": data["TotalMO"],
                            "1 série": data["1ª sérieO"],
                            "2 série": data["2ª sérieO"],
                            "3 série": data["3ª sérieO"],
                            "4 série": data["4ª sérieO"],
                            "Não-Seriado": data["Não-SeriadoO"]
                        },
                    }
            }};

    return dataJSON;

def filterPelotas (dataframe):
    filter = dataframe["Nome do Município"] == "Pelotas"
    
    filterPelotas = dataframe[filter]
    filterPelotas.reset_index(drop=True, inplace=True)
    
    return filterPelotas

def insertIntoDB (dataframe, collection):
    for index, row in dataframe.iterrows():
        teste1 = JSONstructure(row);

        collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1});

### Conexão com o BD:

In [7]:
collection = openDataBaseMongoDB()

### Extração dos dados

In [8]:
yieldRate = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\TaxaRendimento.xlsx')

In [9]:
yieldRate.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalFA,...,6° anoO,7° anoO,8° anoO,9° anoO,TotalMO,1ª sérieO,2ª sérieO,3ª sérieO,4ª sérieO,Não-SeriadoO
0,2018,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,90.9,...,--,--,--,--,--,--,--,--,--,--
1,2018,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,92.1,...,--,--,--,--,--,--,--,--,--,--
2,2018,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,92.5,...,14.3,13.3,16.7,8.3,--,--,--,--,--,--
3,2018,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,94.4,...,4,0,0,35.3,--,--,--,--,--,--
4,2018,Norte,RO,1100015,Alta Floresta D'Oeste,11024682,EEEF EURIDICE LOPES PEDROSO,Urbana,Estadual,85,...,0,0,0,--,--,--,--,--,--,--

In [10]:
yieldRate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134457 entries, 0 to 134456
Data columns (total 63 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Ano                         134457 non-null  int64
 1   Região                      134457 non-null  object
 2   UF                          134457 non-null  object
 3   Código do Município         134457 non-null  int64
 4   Nome do Município           134457 non-null  object
 5   Código da Escola            134457 non-null  int64
 6   Nome da Escola              134457 non-null  object
 7   Localização                 134457 non-null  object
 8   Dependência Administrativa  134457 non-null  object
 9   TotalFA                     134457 non-null  object
 10  Anos IniciaisA              134457 non-null  object
 11  Anos FinaisA                134457 non-null  object
 12  1° anoA                     134457 non-null  object
 13  2° anoA                     134457 non-null  object
 14  3° anoA                     134457 non-null  object
 15  4° anoA                     134457 non-null  object
 16  5° anoA                     134457 non-null  object
 17  6° anoA                     134457 non-null  object
 18  7° anoA                     134457 non-null  object
 19  8° anoA                     134457 non-null  object
 20  9° anoA                     134457 non-null  object
 21  TotalMA                     134457 non-null  object
 22  1ª sérieA                   134457 non-null  object
 23  2ª sérieA                   134457 non-null  object
 24  3ª sérieA                   134457 non-null  object
 25  4ª sérieA                   134457 non-null  object
 26  Não-SeriadoA                134457 non-null  object
 27  TotalFR                     134457 non-null  object
 28  Anos IniciaisR              134457 non-null  object
 29  Anos FinaisR                134457 non-null  object
 30  1° anoR                     134457 non-null  object
 31  2° anoR                     134457 non-null  object
 32  3° anoR                     134457 non-null  object
 33  4° anoR                     134457 non-null  object
 34  5° anoR                     134457 non-null  object
 35  6° anoR                     134457 non-null  object
 36  7° anoR                     134457 non-null  object
 37  8° anoR                     134457 non-null  object
 38  9° anoR                     134457 non-null  object
 39  TotalMR                     134457 non-null  object
 40  1ª sérieR                   134457 non-null  object
 41  2ª sérieR                   134457 non-null  object
 42  3ª sérieR                   134457 non-null  object
 43  4ª sérieR                   134457 non-null  object
 44  Não-SeriadoR                134457 non-null  object
 45  TotalFO                     134457 non-null  object
 46  Anos IniciaisO              134457 non-null  object
 47  Anos FinaisO                134457 non-null  object
 48  1° anoO                     134457 non-null  object
 49  2° anoO                     134457 non-null  object
 50  3° anoO                     134457 non-null  object
 51  4° anoO                     134457 non-null  object
 52  5° anoO                     134457 non-null  object
 53  6° anoO                     134457 non-null  object
 54  7° anoO                     134457 non-null  object
 55  8° anoO                     134457 non-null  object
 56  9° anoO                     134457 non-null  object
 57  TotalMO                     134457 non-null  object
 58  1ª sérieO                   134457 non-null  object
 59  2ª sérieO                   134457 non-null  object
 60  3ª sérieO                   134457 non-null  object
 61  4ª sérieO                   134457 non-null  object
 62  Não-SeriadoO                134457 non-null  object
dtypes: int64(3), object(60)
memory usage: 64.6+ MB

### Transformação dos dados

* Filtro das escolas de Pelotas

In [11]:
yieldRate_Pelotas = filterPelotas(yieldRate)

In [12]:
yieldRate_Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalFA,...,6° anoO,7° anoO,8° anoO,9° anoO,TotalMO,1ª sérieO,2ª sérieO,3ª sérieO,4ª sérieO,Não-SeriadoO
0,2018,Sul,RS,4314407,Pelotas,43000304,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,--,...,--,--,--,--,0,0,0,0,--,--
1,2018,Sul,RS,4314407,Pelotas,43003222,EEF TRES VENDAS,Urbana,Privada,99,...,0,0,0,--,--,--,--,--,--,--
2,2018,Sul,RS,4314407,Pelotas,43012396,ESC EST ENS MED COLONIA DE PESCADORES Z 3,Rural,Estadual,--,...,--,--,--,--,50,51.5,42.9,53.8,--,--
3,2018,Sul,RS,4314407,Pelotas,43065376,EMEF WALDEMAR DENZER,Rural,Municipal,88.3,...,4.5,0,4.6,10,--,--,--,--,--,--
4,2018,Sul,RS,4314407,Pelotas,43100007,COLEGIO GONZAGA,Urbana,Privada,97.3,...,0,0,0,0,0,0,0,0,--,--

In [13]:
yieldRate_Pelotas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Ano                         136 non-null    int64
 1   Região                      136 non-null    object
 2   UF                          136 non-null    object
 3   Código do Município         136 non-null    int64
 4   Nome do Município           136 non-null    object
 5   Código da Escola            136 non-null    int64
 6   Nome da Escola              136 non-null    object
 7   Localização                 136 non-null    object
 8   Dependência Administrativa  136 non-null    object
 9   TotalFA                     136 non-null    object
 10  Anos IniciaisA              136 non-null    object
 11  Anos FinaisA                136 non-null    object
 12  1° anoA                     136 non-null    object
 13  2° anoA                     136 non-null    object
 14  3° anoA                     136 non-null    object
 15  4° anoA                     136 non-null    object
 16  5° anoA                     136 non-null    object
 17  6° anoA                     136 non-null    object
 18  7° anoA                     136 non-null    object
 19  8° anoA                     136 non-null    object
 20  9° anoA                     136 non-null    object
 21  TotalMA                     136 non-null    object
 22  1ª sérieA                   136 non-null    object
 23  2ª sérieA                   136 non-null    object
 24  3ª sérieA                   136 non-null    object
 25  4ª sérieA                   136 non-null    object
 26  Não-SeriadoA                136 non-null    object
 27  TotalFR                     136 non-null    object
 28  Anos IniciaisR              136 non-null    object
 29  Anos FinaisR                136 non-null    object
 30  1° anoR                     136 non-null    object
 31  2° anoR                     136 non-null    object
 32  3° anoR                     136 non-null    object
 33  4° anoR                     136 non-null    object
 34  5° anoR                     136 non-null    object
 35  6° anoR                     136 non-null    object
 36  7° anoR                     136 non-null    object
 37  8° anoR                     136 non-null    object
 38  9° anoR                     136 non-null    object
 39  TotalMR                     136 non-null    object
 40  1ª sérieR                   136 non-null    object
 41  2ª sérieR                   136 non-null    object
 42  3ª sérieR                   136 non-null    object
 43  4ª sérieR                   136 non-null    object
 44  Não-SeriadoR                136 non-null    object
 45  TotalFO                     136 non-null    object
 46  Anos IniciaisO              136 non-null    object
 47  Anos FinaisO                136 non-null    object
 48  1° anoO                     136 non-null    object
 49  2° anoO                     136 non-null    object
 50  3° anoO                     136 non-null    object
 51  4° anoO                     136 non-null    object
 52  5° anoO                     136 non-null    object
 53  6° anoO                     136 non-null    object
 54  7° anoO                     136 non-null    object
 55  8° anoO                     136 non-null    object
 56  9° anoO                     136 non-null    object
 57  TotalMO                     136 non-null    object
 58  1ª sérieO                   136 non-null    object
 59  2ª sérieO                   136 non-null    object
 60  3ª sérieO                   136 non-null    object
 61  4ª sérieO                   136 non-null    object
 62  Não-SeriadoO                136 non-null    object
dtypes: int64(3), object(60)
memory usage: 67.1+ KB

* Colunas desnecessárias

In [14]:
deletingColumns(yieldRate_Pelotas)

In [15]:
yieldRate_Pelotas.head()

,Ano,Código da Escola,TotalFA,Anos IniciaisA,Anos FinaisA,1° anoA,2° anoA,3° anoA,4° anoA,5° anoA,...,6° anoO,7° anoO,8° anoO,9° anoO,TotalMO,1ª sérieO,2ª sérieO,3ª sérieO,4ª sérieO,Não-SeriadoO
0,2018,43000304,--,--,--,--,--,--,--,--,...,--,--,--,--,0,0,0,0,--,--
1,2018,43003222,99,100,97.1,100,100,100,100,100,...,0,0,0,--,--,--,--,--,--,--
2,2018,43012396,--,--,--,--,--,--,--,--,...,--,--,--,--,50,51.5,42.9,53.8,--,--
3,2018,43065376,88.3,96.2,80.3,100,100,100,92.3,92,...,4.5,0,4.6,10,--,--,--,--,--,--
4,2018,43100007,97.3,99.8,93.8,100,100,100,99,100,...,0,0,0,0,0,0,0,0,--,--

* Atribuir a valores não informado o valor nan

In [16]:
yieldRate_Pelotas = yieldRate_Pelotas.replace(regex=['--'], value = np.nan)

In [17]:
yieldRate_Pelotas

,Ano,Código da Escola,TotalFA,Anos IniciaisA,Anos FinaisA,1° anoA,2° anoA,3° anoA,4° anoA,5° anoA,...,6° anoO,7° anoO,8° anoO,9° anoO,TotalMO,1ª sérieO,2ª sérieO,3ª sérieO,4ª sérieO,Não-SeriadoO
0,2018,43000304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
1,2018,43003222,99.0,100.0,97.1,100.0,100.0,100.0,100.0,100.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,43012396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.0,51.5,42.9,53.8,NaN,NaN
3,2018,43065376,88.3,96.2,80.3,100.0,100.0,100.0,92.3,92.0,...,4.5,0.0,4.6,10.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,43100007,97.3,99.8,93.8,100.0,100.0,100.0,99.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2018,43206468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.9,3.3,1.2,0.0,NaN,NaN
132,2018,43206646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
133,2018,43208274,85.0,88.7,81.3,100.0,100.0,84.1,87.3,78.7,...,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
134,2018,43208282,99.3,99.3,NaN,100.0,96.6,100.0,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,2018,43295304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.6,11.4,8.0,0.0,NaN,NaN

### Teste JSON

In [18]:
rowData = yieldRate_Pelotas.iloc[ 0 , : ]

In [19]:
JSONstructure(rowData)

{'Taxa de rendimento por turma': {'Última atualização': 2018.0,
  'Ensino Fundamental 8 e 9 anos': {'Aprovados': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan},
   'Reprovados': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan},
   'Abandonos': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan}},
  'Ensino Médio': {'Aprovados': {'Total': 92.6,
    '1 série': 96.0,
    '2 série': 84.7,
    '3 série': 100.0,
    '4 série': nan,
    'Não-Seriado': nan},
   'Reprovados': {'Total': 7.4,
    '1 série': 4.0,
    '2 série': 15.3,
    '3 série': 0.0,
    '4 série': nan,
    'Não-Seriado': nan},
   'Abandonos': {'Total': 0.0,
    '1 série': 0.0,
    '2 série': 0.0,
    '3 série': 0.0,
    '4 série': nan,
    'Não-Seriado': nan}}}}

### Carregamento dos dados

* Inserindo no Banco de Dados (MongoDB)

In [21]:
insertIntoDB(yieldRate_Pelotas, collection)

In [22]:
collection.find_one({"Código INEP": 43000304})

{'_id': ObjectId('5f2620d181e7e7953bdb84af'),
 'Restrição de Atendimento': 'ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATENDIMENTO',
 'Escola': 'COLEGIO TIRADENTES PELOTAS',
 'Código INEP': 43000304,
 'UF': 'RS',
 'Município': 'Pelotas',
 'Localização': 'Urbana',
 'Localidade Diferenciada': 'A escola não está em área de localização diferenciada',
 'Categoria Administrativa': 'Pública',
 'Endereço': 'AV DUQUE DE CAXIAS 546, 546 FRAGATA. 96030-003 Pelotas - RS.',
 'Telefone': '(53) 32812866',
 'Dependência Administrativa': 'Estadual',
 'Categoria Escola Privada': 'Não Informado',
 'Conveniada Poder Público': 'Não',
 'Regulamentação pelo Conselho de Educação': 'Sim',
 'Porte da Escola': 'Entre 201 e 500 matrículas de escolarização',
 'Etapas e Modalidade de Ensino Oferecidas': 'Ensino Médio',
 'Outras Ofertas Educacionais': None,
 'Latitude': -31.75701,
 'Longitude': -52.37308,
 'Média de alunos por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': nan, 'Creche': nan, 'Pré-Escola': nan},
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan,
   'Turmas Multietapa, Multi ou Correção de Fluxo 2': nan},
  'Ensino Médio': {'Total': 26.6,
   '1 série': 25.0,
   '2 série': 26.0,
   '3 série': 30.0,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Media Horas-Aula diárias por turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': nan, 'Creche': nan, 'Pré-Escola': nan},
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan},
  'Ensino Médio': {'Total': 8.9,
   '1 série': 8.9,
   '2 série': 8.9,
   '3 série': 8.9,
   '4 série': nan,
   'Não-Seriado': nan}},
 'Taxa de distorção de idade-série por turma': {'Última atualização': 2019.0,
  'Ensino Fundamental 8 e 9 anos': {'Total': nan,
   'Anos Iniciais': nan,
   'Anos Finais': nan,
   '1 Ano': nan,
   '2 Ano': nan,
   '3 Ano': nan,
   '4 Ano': nan,
   '5 Ano': nan,
   '6 Ano': nan,
   '7 Ano': nan,
   '8 Ano': nan,
   '9 Ano': nan},
  'Ensino Médio': {'Total': 13.1,
   '1 série': 6.7,
   '2 série': 23.1,
   '3 série': 8.3,
   '4 série': nan}},
 'Taxa de rendimento por turma': {'Última atualização': 2018.0,
  'Ensino Fundamental 8 e 9 anos': {'Aprovados': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan},
   'Reprovados': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan},
   'Abandonos': {'Total': nan,
    'Anos Iniciais': nan,
    'Anos Finais': nan,
    '1 Ano': nan,
    '2 Ano': nan,
    '3 Ano': nan,
    '4 Ano': nan,
    '5 Ano': nan,
    '6 Ano': nan,
    '7 Ano': nan,
    '8 Ano': nan,
    '9 Ano': nan}},
  'Ensino Médio': {'Aprovados': {'Total': 92.6,
    '1 série': 96.0,
    '2 série': 84.7,
    '3 série': 100.0,
    '4 série': nan,
    'Não-Seriado': nan},
   'Reprovados': {'Total': 7.4,
    '1 série': 4.0,
    '2 série': 15.3,
    '3 série': 0.0,
    '4 série': nan,
    'Não-Seriado': nan},
   'Abandonos': {'Total': 0.0,
    '1 série': 0.0,
    '2 série': 0.0,
    '3 série': 0.0,
    '4 série': nan,
    'Não-Seriado': nan}}}}