### Definição de funções e imports necessários

In [1]:
import pandas as pd
import numpy as np
import json
import excel2json
from geopy.geocoders import Nominatim
import pymongo

**Funções:**

In [39]:
def readCSV (path):
    return pd.read_csv(path, sep = ";");

def readXLSX (path):
    return pd.read_excel(path, index_col=None);

def openDataBaseMongoDB ():
    client = pymongo.MongoClient("mongodb://<ADMIN>:<PASSWORD>@criedata-shard-00-00.urzuu.mongodb.net:27017,criedata-shard-00-01.urzuu.mongodb.net:27017,criedata-shard-00-02.urzuu.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-6db9id-shard-0&authSource=admin&retryWrites=true&w=majority");
    db = client.schoolData;
    return db.dataINEPSchools;

def dataframeToJSONConverter (dataframe):
    dataJSON = dataframe.to_json(orient="records")
    return json.loads(dataJSON)

def deletingColumns (columns, dataframe):  
    for column in columns:
        try:
            dataframe.pop(column)
        except:
            continue
    
def JSONstructure (data):    
    dataJSON = {"Média de Alunos por Turma": 
                {
                "Última atualização": data["Ano"],
                "Educação Infantil": 
                    {
                        "Total": data["TotalI"],
                        "Creche": data["Creche"],
                        "Pré-Escola": data["Pré-Escola"]
                    },
                "Ensino Fundamental 8 e 9 anos": 
                    {
                        "Total": data["TotalF"],
                        "Anos Iniciais": data["Anos Iniciais"],
                        "Anos Finais": data["Anos Finais"],
                        "1º Ano": data["1° ano"],
                        "2º Ano": data["2° ano"],
                        "3º Ano": data["3° ano"],
                        "4º Ano": data["4° ano"],
                        "5º Ano": data["5° ano"],
                        "6º Ano": data["6° ano"],
                        "7º Ano": data["7° ano"],
                        "8º Ano": data["8° ano"],
                        "9º Ano": data["9° ano"],
                        "Turmas Multietapa, Multi ou Correção de Fluxo 2": data["Turmas Multietapa, Multi ou Correção de Fluxo 2"]
                    },
                "Ensino Médio": 
                    {
                        "Total": data["TotalM"],
                        "1ª série": data["1ª série"],
                        "2ª série": data["2ª série"],
                        "3ª série": data["3ª série"],
                        "4ª série": data["4ª série"],
                        "Não-Seriado": data["Não-Seriado"]
                    }
        }};

    return dataJSON;

def insertDATABD():
    #collection.insert_many()
    collection.find_one()

**Conexão com o BD:**

In [3]:
collection = openDataBaseMongoDB()

### ETL: Informações das Escolas

In [9]:
infoSchools = readCSV(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\InformacoesGeraisDasEscolas.csv');
infoSchools.head()

,Restrição de Atendimento,Escola,Código INEP,UF,Município,Localização,Localidade Diferenciada,Categoria Administrativa,Endereço,Telefone,Dependência Administrativa,Categoria Escola Privada,Conveniada Poder Público,Regulamentação pelo Conselho de Educação,Porte da Escola,Etapas e Modalidade de Ensino Oferecidas,Outras Ofertas Educacionais,Latitude,Longitude
0,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,COLEGIO TIRADENTES PELOTAS,43000304,RS,Pelotas,Urbana,A escola não está em área de localização difer...,Pública,"AV DUQUE DE CAXIAS 546, 546 FRAGATA. 96030-003...",(53) 32812866,Estadual,Não Informado,Não,Sim,Entre 201 e 500 matrículas de escolarização,Ensino Médio,NaN,-31.75701,-52.37308
1,ESCOLA PARALISADA,EEI NOSSOS AMIGUINHOS,43001084,RS,Pelotas,Urbana,Não Informado,Privada,"RUA VOLUNTARIOS DA PATRIA, 1927. CENTRO. 96015...",(53) 30256230,Privada,Não Informado,Não,NaN,NaN,NaN,NaN,NaN,NaN
2,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,EEI CRIANCA AMADA,43001165,RS,Pelotas,Urbana,A escola não está em área de localização difer...,Privada,"AVENIDA DOMINGOS JOSE DE ALMEIDA, 1077 AREAL. ...",(53) 30282009,Privada,Particular,Não,Sim,Entre 51 e 200 matrículas de escolarização,Educação Infantil,NaN,NaN,NaN
3,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,EEI MUNDO DO MICKEY,43001173,RS,Pelotas,Urbana,A escola não está em área de localização difer...,Privada,"RUA BALDOMERO TRAPAGA, 132 PORTO. 96075-540 Pe...",(53) 32279908,Privada,Particular,Não,Sim,Até 50 matrículas de escolarização,Educação Infantil,NaN,-31.77139,-52.32994
4,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,EEI CHAPEUZINHO VERMELHO,43002145,RS,Pelotas,Urbana,A escola não está em área de localização difer...,Privada,"RUA BARAO DE SANTA TECLA, 621 CENTRO. 96010-14...",(53) 81265782,Privada,Particular,Não,Sim,Até 50 matrículas de escolarização,Educação Infantil,NaN,-31.76221,-52.34358

In [10]:
infoSchools.shape

(302, 19)

In [11]:
infoSchools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 19 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Restrição de Atendimento                  302 non-null    object
 1   Escola                                    302 non-null    object
 2   Código INEP                               302 non-null    int64
 3   UF                                        302 non-null    object
 4   Município                                 302 non-null    object
 5   Localização                               302 non-null    object
 6   Localidade Diferenciada                   302 non-null    object
 7   Categoria Administrativa                  302 non-null    object
 8   Endereço                                  302 non-null    object
 9   Telefone                                  292 non-null    object
 10  Dependência Administrativa                302 non-null    object
 11  Categoria Escola Privada                  302 non-null    object
 12  Conveniada Poder Público                  302 non-null    object
 13  Regulamentação pelo Conselho de Educação  239 non-null    object
 14  Porte da Escola                           239 non-null    object
 15  Etapas e Modalidade de Ensino Oferecidas  236 non-null    object
 16  Outras Ofertas Educacionais               90 non-null     object
 17  Latitude                                  198 non-null    float64
 18  Longitude                                 198 non-null    float64
dtypes: float64(2), int64(1), object(16)
memory usage: 45.0+ KB

In [12]:
infoSchools.isnull().sum()

Restrição de Atendimento                      0
Escola                                        0
Código INEP                                   0
UF                                            0
Município                                     0
Localização                                   0
Localidade Diferenciada                       0
Categoria Administrativa                      0
Endereço                                      0
Telefone                                     10
Dependência Administrativa                    0
Categoria Escola Privada                      0
Conveniada Poder Público                      0
Regulamentação pelo Conselho de Educação     63
Porte da Escola                              63
Etapas e Modalidade de Ensino Oferecidas     66
Outras Ofertas Educacionais                 212
Latitude                                    104
Longitude                                   104
dtype: int64

**Processo de Geocoding:**

In [43]:
infoSchools["Endereço"][2]

'AVENIDA DOMINGOS JOSE DE ALMEIDA, 1077 AREAL. 96085-470 Pelotas - RS.'

In [82]:
geolocator = Nominatim(user_agent = "ScoolarData")
latitude = []
longitude = []

for local in collectionINEP["Endereço"]:
    try:
        location = geolocator.geocode(local)
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    except:
        continue

**Conversão do *dataframe* para json:**

In [13]:
schoolData = dataframeToJSONConverter (infoSchools)
schoolData[0]

{'Restrição de Atendimento': 'ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATENDIMENTO',
 'Escola': 'COLEGIO TIRADENTES PELOTAS',
 'Código INEP': 43000304,
 'UF': 'RS',
 'Município': 'Pelotas',
 'Localização': 'Urbana',
 'Localidade Diferenciada': 'A escola não está em área de localização diferenciada',
 'Categoria Administrativa': 'Pública',
 'Endereço': 'AV DUQUE DE CAXIAS 546, 546 FRAGATA. 96030-003 Pelotas - RS.',
 'Telefone': '(53) 32812866',
 'Dependência Administrativa': 'Estadual',
 'Categoria Escola Privada': 'Não Informado',
 'Conveniada Poder Público': 'Não',
 'Regulamentação pelo Conselho de Educação': 'Sim',
 'Porte da Escola': 'Entre 201 e 500 matrículas de escolarização',
 'Etapas e Modalidade de Ensino Oferecidas': 'Ensino Médio',
 'Outras Ofertas Educacionais': None,
 'Latitude': -31.75701,
 'Longitude': -52.37308}

### ETL: Média de estudates por escola

In [19]:
studentsAVG_2019 = readXLSX(r'C:\Users\mbrug\Desktop\schoolDataCollectionPelotas\Datasets\INEP\MediaDeAlunosPorTurma.xlsx')

In [20]:
studentsAVG_2019

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalI,...,7° ano,8° ano,9° ano,"Turmas Multietapa, Multi ou Correção de Fluxo 2",TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11022558,EIEEF HAP BITT TUPARI,Rural,Estadual,--,...,--,--,--,7,--,--,--,--,--,--
1,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024275,CEEJA LUIZ VAZ DE CAMOES,Urbana,Estadual,--,...,--,--,--,--,--,--,--,--,--,--
2,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024291,EMMEF 7 DE SETEMBRO,Rural,Municipal,--,...,--,--,--,10,--,--,--,--,--,--
3,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024372,EMEIEF ANA NERY,Urbana,Municipal,10,...,7,15,8,23.5,--,--,--,--,--,--
4,2019,Norte,RO,1100015,Alta Floresta D'Oeste,11024666,EMEIEF BOA ESPERANCA,Rural,Municipal,16,...,20,26,18,--,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176381,2019,Centro-Oeste,DF,5300108,Brasília,53084020,ESC PEQUENO ENCANTO,Urbana,Privada,16.2,...,--,--,--,--,--,--,--,--,--,--
176382,2019,Centro-Oeste,DF,5300108,Brasília,53084039,COL ANCHIETA,Urbana,Privada,15.8,...,23.5,22.5,17.5,--,9.3,13,11,4,--,--
176383,2019,Centro-Oeste,DF,5300108,Brasília,53084055,COL MAPA,Urbana,Privada,--,...,21.3,29.5,25.5,--,28.7,32,24,30,--,--
176384,2019,Centro-Oeste,DF,5300108,Brasília,53085000,COBIAN - COL BIANGULO,Urbana,Privada,16.9,...,--,--,--,--,--,--,--,--,--,--
176385,2019,Centro-Oeste,DF,5300108,Brasília,53086007,CED VITORIA REGIA,Urbana,Privada,--,...,14,20,31,--,32.3,39,23.5,43,--,--

In [24]:
filter = studentsAVG_2019["Nome do Município"] == "Pelotas"

filterPelotas = studentsAVG_2019.where(filter)
studentsAVG_2019Pelotas = filterPelotas.dropna()
studentsAVG_2019Pelotas.reset_index(drop=True, inplace=True)
studentsAVG_2019Pelotas.head()

,Ano,Região,UF,Código do Município,Nome do Município,Código da Escola,Nome da Escola,Localização,Dependência Administrativa,TotalI,...,7° ano,8° ano,9° ano,"Turmas Multietapa, Multi ou Correção de Fluxo 2",TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019.0,Sul,RS,4314407.0,Pelotas,43000304.0,COLEGIO TIRADENTES PELOTAS,Urbana,Estadual,--,...,--,--,--,--,26.6,25,26,30,--,--
1,2019.0,Sul,RS,4314407.0,Pelotas,43001165.0,EEI CRIANCA AMADA,Urbana,Privada,14,...,--,--,--,--,--,--,--,--,--,--
2,2019.0,Sul,RS,4314407.0,Pelotas,43001173.0,EEI MUNDO DO MICKEY,Urbana,Privada,3,...,--,--,--,--,--,--,--,--,--,--
3,2019.0,Sul,RS,4314407.0,Pelotas,43002145.0,EEI CHAPEUZINHO VERMELHO,Urbana,Privada,3.5,...,--,--,--,--,--,--,--,--,--,--
4,2019.0,Sul,RS,4314407.0,Pelotas,43003222.0,EEF TRES VENDAS,Urbana,Privada,--,...,30.5,37,--,--,--,--,--,--,--,--

In [27]:
columns = ["Região", "UF", "Código do Município", "Nome do Município", "Nome da Escola", "Localização", "Dependência Administrativa"];

deletingColumns(columns, studentsAVG_2019Pelotas)
studentsAVG_2019Pelotas.reset_index(drop=True, inplace = True)

In [28]:
studentsAVG_2019Pelotas[""]

,Ano,Código da Escola,TotalI,Creche,Pré-Escola,TotalF,Anos Iniciais,Anos Finais,1° ano,2° ano,...,7° ano,8° ano,9° ano,"Turmas Multietapa, Multi ou Correção de Fluxo 2",TotalM,1ª série,2ª série,3ª série,4ª série,Não-Seriado
0,2019.0,43000304.0,--,--,--,--,--,--,--,--,...,--,--,--,--,26.6,25,26,30,--,--
1,2019.0,43001165.0,14,13.6,15,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
2,2019.0,43001173.0,3,6,1.5,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
3,2019.0,43002145.0,3.5,4.3,2.7,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
4,2019.0,43003222.0,--,--,--,29.4,27.3,34.7,26.7,27.7,...,30.5,37,--,--,--,--,--,--,--,--

**Inserindo no BD:**

In [35]:
count = 0;
for index, row in studentsAVG_2019Pelotas.iterrows():
    teste1 = JSONstructure(row);
    
    collection.update_one({"Código INEP": row["Código da Escola"]}, {"$set": teste1})

In [38]:
collection.find_one({"Código INEP": 43000304})

{'_id': ObjectId('5f22117d86818b0338731eb4'),
 'Restrição de Atendimento': 'ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATENDIMENTO',
 'Escola': 'COLEGIO TIRADENTES PELOTAS',
 'Código INEP': 43000304,
 'UF': 'RS',
 'Município': 'Pelotas',
 'Localização': 'Urbana',
 'Localidade Diferenciada': 'A escola não está em área de localização diferenciada',
 'Categoria Administrativa': 'Pública',
 'Endereço': 'AV DUQUE DE CAXIAS 546, 546 FRAGATA. 96030-003 Pelotas - RS.',
 'Telefone': '(53) 32812866',
 'Dependência Administrativa': 'Estadual',
 'Categoria Escola Privada': 'Não Informado',
 'Conveniada Poder Público': 'Não',
 'Regulamentação pelo Conselho de Educação': 'Sim',
 'Porte da Escola': 'Entre 201 e 500 matrículas de escolarização',
 'Etapas e Modalidade de Ensino Oferecidas': 'Ensino Médio',
 'Outras Ofertas Educacionais': None,
 'Latitude': -31.75701,
 'Longitude': -52.37308,
 'Média de Alunos por Turma': {'Última atualização': 2019.0,
  'Educação Infantil': {'Total': '--', 'Creche': '--', 'Pré-Escola': '--'},
  'Ensino Fundamental 8 e 9 anos': {'Total': '--',
   'Anos Iniciais': '--',
   'Anos Finais': '--',
   '1º Ano': '--',
   '2º Ano': '--',
   '3º Ano': '--',
   '4º Ano': '--',
   '5º Ano': '--',
   '6º Ano': '--',
   '7º Ano': '--',
   '8º Ano': '--',
   '9º Ano': '--',
   'Turmas Multietapa, Multi ou Correção de Fluxo 2': '--'},
  'Ensino Médio': {'Total': 26.6,
   '1ª série': 25,
   '2ª série': 26,
   '3ª série': 30,
   '4ª série': '--',
   'Não-Seriado': '--'}}}